/*  Start Variables 
بيكون فيها اللوان الاساسة والثانوية 
احجام الخط وهكذا */

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --therid-color: #777;
}
html {
  /* هذي عشان لما ينتقل من قسم لاخر ينتقل بشكل سلسل
  لازم تتاكد انو الخاصية مدعوم من موقع 
  can i use في المتصفح */
  scroll-behavior: smooth;
}

/* END Variables  */

/*  القواعد أو الاشياء الاساسية 
Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.parent {
  background-color: #aaa;
  /* width: 600px; */
  /* عشان ييجي بالنص */
  /* margin: auto; */
}
/* عشان نحل مشكلة انو الخلفية تكون كاملة 
لكن النص فقط بالوسط بدون ان يتمدد بنستخدم
container */
.container {
  /* هذي بعملها لانو
    لوحولنا لجوال برضو خلاقي الكلام بدا من الاول */
  padding-left: 15px;
  padding-right: 15px;
  /* عشان اخلي النص بالوسط */
  margin-left: auto;
  margin-right: auto;
  /* احنا هيك مثبتين العرض فاحنا لازمنا نخليه بكل شاشة يتغير 
  فاحنا حنشيلها لانو صار لكل شاشة مقاس محدد
  */
  /* width: 600px; */
  /* عشان ييجي بالنص */
}
/* small phone */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* mediam phone */
@media (min-width: 922px) {
  .container {
    width: 970px;
  }
}
/* large phone */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* start component  */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  /* عشان الاحرف تقرب عبعض */
  letter-spacing: -3px;
  margin: 0;
}

/* هيك بنوصل للبرقراف الي بعده عطول
 عشان ما ياثر على اي برقراف */
.special-heading + p {
  margin: -38px;
  text-align: center;
  font-size: 20px;
  color: #797979;
}
/* لقينا في مشكلة بالجوال قبدنا نحلها */

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End component  */

/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  /* هان بدي اعمل مسافة بين اللوقو والايقونة بساتخدام */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  /* بدي لما ااشر عليه يظهر الي فيه فلازم اعمله هيك
    عشان اخلي الابناء absolute */
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  /* هئي عشان ال3 خطوط الي بالوسط كان جاي عاليمين
   هيك بنخليه عاليسار */
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  /* بدنا نعمل حركة انو لما ناشر عالايقونة 
  الخط الثاني يكتمل 100% 
  عملناها على كل اللينك*/
  transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  background-color: #f6f6f6;
  /* reset */
  margin: 0px;
  padding: 0px;
  position: absolute;
  /* حتلاحظ لو شلنا السطر الي تحت حتطلع برة الشاشة */
  right: 0;
  min-width: 200px;
  /* حطينا زيادة 15 عشان بدنا نضيف السهم */
  top: calc(100% + 15px);
  /* هذي عشان لما تعمل تاشير هوفر تظهر */
  display: none;
  /* عشان هان الصورة غطت عليها بنعمل هيك بتصير هي الي فوق */
  z-index: 1;
}
/* هذي معنا حعمل على اللينك هوفر 
ال روابط الي جوة بدها تظهر */
.header .links:hover ul {
  /* حتظهر الروابط  */
  display: block;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  /* بتشيل الخط الي تحت اللينك */
  text-decoration: none;
  color: #222;
  /* بدنا نعمل حركة فلازم ترانزيشن */
  transition: 0.3s;
}
.header .links ul li a:hover {
  /* هالوقت هوة 15بيكسل فاحنا بنخليه 
  لمن ناشر عليه يصير 25 */
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  /* هيك حيطبق الخاصية عكلهم ما عدا الاخير */
  border-bottom: 1px solid #ddd;
}
/* End Header */

/* Start landing section */
.landing {
  background-image: url(../image/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  /* وسطنا النص بالوسط */
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  width: 320px;
  max-width: 100%;
  transform: translate(-50%, -50%);
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* End landing section */

/* start Features*/
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  /* بنجيبها من الفوتوشوب */
  font-weight: 800;
  /* 30 من فوق وتخت 
  و 0 من يمين وشمال */
  margin: 30px 0;
}
.features .feat p {
  /* المسافة بين الأسطر ويجب أن تكون موحدة */
  line-height: 1.8;
  /* بتخلي الخط لون أقل وضوح */
  color: #777;
  font-size: 17px;
}
/* End Features */

/* Strat services */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    /* هيك عملناه بالجوال العناصر تكون تحت بعض */
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  /* لغينا المسافة الي فوق وصار النص مقابل الايقونة بالضبط */
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
/* عملناها ريلاتف عشان نقدر نعمل مربع وراها */
.services .services-content .image {
  text-align: center;
  position: relative;
}
/* عملنا المستطيل الكحلي الغامق */
.services .services-content .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
}
/* هان بدنا نتحكم بحجم الصورة عشانها كبيرة */
.services .services-content .image img {
  width: 260px;
}
/* هلوقت عشان المستطيل شكله غبي بالشاشات الصغير 
بدنا نلغيه
(نخفيه)
 */

/* الشاشات الي بدي يصير فيها تغيير الي اقل من 1199 */
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}

/* End services */

/* Start protofolio */
.portfolio {
  /* نفس الي كانوا فوق أخدناهم من فوق */
  /* هان احنا عشان تكرر كثير عملناه ثابت وبنستدعيه 
  as a variable*/
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img {
  /* هذي للصورة عشان ما تطلع برة المحتوى */
  max-width: 100%;
  /* لازمممممم الصور تكون نفس المقاساااااات عشان تضبط  وكبيرة*/
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  color: var(--therid-color);
  line-height: 1.6;
  margin-bottom: 0;
}

/* End protofolio */

/* Start About */

.about {
  padding-top: var(--section-padding);
  /* هذي لو عندك رسمة حتقرب لنهاية الصفحة وبدك تزود المساحة بتعمل هيك */
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about-content {
  /* هذا بيبعد الصورة عن الكتابة 
  ممكن تعمل variable */
  margin-top: 100px;
  /* هذي المرة حنستخدم flex */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about-content .image {
  /* عملناه هيك عشان حنرسم عناصر وهو هذا الاب 
  وهمة حيكونوا absolute معتدمين عليه عشان نحركهم */
  position: relative;
  /* المسافات هذي من الصورة */
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about-content .image {
    /* من فوق 0 ويمين وشمال اوتو ومن تخت 60 بيكسل*/
    margin: 0 auto 60px;
  }
}

.about-content .image::before {
  content: "";
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  position: absolute;
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about-content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
  top: -40px;
}

@media (max-width: 991px) {
  /* هذول الخاصيتين مع الشاشات اقل من 991 لاتعرضهم 
  وتنساش الفاصلة بين الاستدعاءات*/
  .about-content .image::before,
  .about-content .image::after {
    display: none;
  }
}
.about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
  /* another way
  flex: 1;
  padding-left: 210px; */
}

/* عشان نوصل لاول برقراف معمول هكذا */
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
  color: black;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  /* هان بنعطي بوردر مش كلر لحالها 
  لانك انتا هنا بتتحكم بلون البوردر لل hr */
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: var(--therid-color);
}

/* End About */

/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info p:first-of-type {
  font-size: 35px;
  font-weight: 800;
  letter-spacing: -2px;
  color: var(--secondary-color);
  margin-bottom: 15px;
}
.contact .info .link {
  /* عشان يقبل كل الاشياء الي تعلمناها في css */
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  /* عشان ما يحط خط تحت الرابط */
  text-decoration: none;
}
@media (max-width: 767px) {
  .contact .info p:first-of-type,
  .contact .info .link {
    font-size: 25px;
  }
}

.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 18px;
}
.contact .info .social i {
  color: var(--secondary-color);
  margin-left: 10px;
}

/* End Contact */

/* Start footer  */
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* End footer  */
